body {
    font-family: monospace;
    margin: 0; padding: 0;
}

header.site-header {
    background: #999;
    overflow: hidden;
    padding: 1em;
}

    header.site-header a {
        color: #fff;
        text-decoration: none;
    }
    
    header.site-header h1 {
        font-size: 1em;
        margin: 0;
        float: left;
        font-weight: bold;
    }
    
header.site-header .identity {
    float: right;
}

    header.site-header .identity a {
        border-bottom: 1px solid #fff;
    }

.site-content {
    padding: 1em;
}

    .site-content a {
        color: #369;
        text-decoration: none;
        border-bottom: 1px solid #369;
    }

.site-content.centered {
    margin: auto;
    width: 80%;
}

.about {
    margin: 5% 0;
}

    .about h2 {
        text-align: center;
    }

.box.left {
    float: left;
    width: 49%;
}

.box.right {
    float: right;
    width: 49%;
}

.box header h3 {
    padding: 0.5em;
    background: #eee;
}

form dl {
    overflow: hidden;
}

form dl dd, form dl dt {
    margin: 0;
    padding: 0.5em;
}

input, textarea {
    font-family: monospace;
}

label {
    padding: 0.25em;
    display: block;
}

input[type='text'], input[type='password'] {
    border: 1px solid #999;
    padding: 0.25em;
    width: 95%;
}

.button {
    background: #999;
    color: #fff;
    border: 0;
    padding: 0.25em;
    cursor: pointer;
}

.button:hover {
    background: #aaa;
}

.centered-box {
    width: 25%;
    margin: auto;
    border-bottom: 1px solid #eee;
}

.centered-box dt {
    float: left;
    width: 20%;
    margin-bottom: 0.25em;
}

.centered-box dd {
    float: right;
    width: 70%;
    margin-bottom: 0.25em;
}

.button-container {
    padding: 0.25em;
    text-align: right;
}

.button-container.left {
    text-align: left;
}

.no-account {
    width: 25%;
    margin: 1em auto;
    text-align: right;
}

.errors {
    background: rgba(255, 0, 0, 0.1);
    padding: 0.5em;
    color: #900;   
}

    .errors ul {
        list-style: none;
        margin: 0; padding: 0;
    }


.site-navigation.sidebar {
    float: left;
    width: 20%;
    margin: 1% 2%;
}

.logged-in .site-content {
    float: left;
    margin: 1% 2%;
    width: 70%;
}

.chirp-this {
    border-bottom: 2px solid #eee;
}

.chirp-this textarea {
    border: 1px solid #999;
    padding: 0.25em;
    width: 100%;
}

.logged-in .site-container {
    width: 90%;
    margin: 0 auto;
}

.timeline .chirps {
    list-style: none;
    margin: 1em 0; padding: 0;
}

.timeline .chirps li {
    padding: 0.5em;
    overflow: hidden;
    margin-bottom: 1em;
    background: #fafafa;
}

.timeline .chirps li .avatar {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.timeline .chirps li .username,
.timeline .chirps li .text {
    display: block;
    margin-left: 3.5em;
    margin-bottom: 0.25em;
}

.timeline .chirps li .meta {
    clear: both;
    background: #eee;
    padding: 0.5em;
    overflow: hidden;
    margin: 0 -0.5em -0.5em;
}

.timeline .chirps li .meta .timestamp {
    float: left;
}

.timeline .chirps li .meta .id {
    float: right;
}

.site-footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    margin-top: 2em;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

    .site-footer a {
        color: #369;
        text-decoration: none;
        border-bottom: 1px solid #369;
    }
    
