body {
    font-family: monospace;
    margin: 0; padding: 0;
}

header.site-header {
    background: #999;
    overflow: hidden;
    padding: 1em;
}

    header.site-header a {
        color: #fff;
        text-decoration: none;
    }
    
    header.site-header h1 {
        font-size: 1em;
        margin: 0;
        float: left;
        font-weight: bold;
    }
    
header.site-header .identity {
    float: right;
}

    header.site-header .identity a {
        border-bottom: 1px solid #fff;
    }

.site-content {
    padding: 1em;
}

    .site-content a {
        color: #369;
        text-decoration: none;
        border-bottom: 1px solid #369;
    }

.site-content.centered {
    margin: auto;
    width: 80%;
}

.about {
    margin: 5% 0;
}

    .about h2 {
        text-align: center;
    }

.box.left {
    float: left;
    width: 49%;
}

.box.right {
    float: right;
    width: 49%;
}

.box header h3 {
    padding: 0.5em;
    background: #eee;
}

form dl {
    overflow: hidden;
}

form dl dd, form dl dt {
    margin: 0;
    padding: 0.5em;
}

input, textarea {
    font-family: monospace;
}

label {
    padding: 0.25em;
    display: block;
}

input[type='text'] {
    border: 1px solid #999;
    padding: 0.25em;
    width: 95%;
}

.button {
    background: #999;
    color: #fff;
    border: 0;
    padding: 0.25em;
    cursor: pointer;
}

.button:hover {
    background: #aaa;
}

.centered-box {
    width: 25%;
    margin: auto;
    border-bottom: 1px solid #eee;
}

.centered-box dt {
    float: left;
    width: 20%;
    margin-bottom: 0.25em;
}

.centered-box dd {
    float: right;
    width: 70%;
    margin-bottom: 0.25em;
}

.button-container {
    padding: 0.25em;
    text-align: right;
}

.no-account {
    width: 25%;
    margin: 1em auto;
    text-align: right;
}

.errors {
    background: rgba(255, 0, 0, 0.1);
    padding: 0.5em;
    color: #900;   
}

    .errors ul {
        list-style: none;
        margin: 0; padding: 0;
    }